*{
  font-family: 'Oswald';
}

body {
  background-color: #1f2117;
}


.form {
  background-color: #ddd;
  width: 70%;
  margin: 50px 15%;
  border-radius: 10px;
}

.formContent{
  padding: 0px 20px
}

.centerChildren {
  width: 100%;
  padding: 20px;
}

.centerChildren > div {
  display: inline;
  width: 50%;
}

.centerBibliography {
  margin: auto;
  width: 65%;
}