*{
  font-family: 'Oswald';
}

body {
  background-color: #1f2117;
}

.form {
  background-color: #ddd;
  border-radius: 10px;
}

.centerSubmit {
  padding-top: 10px;
  padding-bottom: 20px;
  margin: auto;
  width: 150px;
}

.textAreaCharsLeft {
  margin: 0;
}

.formContent, .header {
  padding: 0px 20px
}

@media only screen and (min-width: 768px) {
  .form {
    width: 70%;
    margin: 50px 15%;
  }

  

  .centerChildren {
    width: 100%;
    padding: 20px;
  }

  .centerChildren > div {
    display: inline;
    width: 50%;
  }

  .centerBibliography {
    margin: auto;
    width: 65%;
  }
} 

@media only screen and (max-width: 767px) {

  .centerChildren > div {
    display: inline;
    width: 100%;
  }

  .centerBibliography {
    margin: auto;
    width: 90%;
  }

} 